{% extends 'base.html' %}
{% load static %}
{% block page_title %}Страница не существует{% endblock %}
{% block content %}
<div class="content-wrapper">
    <section class="wrapper bg-light">
        <div class="container pt-3">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb" id="breadcrumblist" itemscope itemtype="http://schema.org/BreadcrumbList">
                <li class="breadcrumb-item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                    <a itemprop="item" href="/">Домашняя страница</a>
                    <meta itemprop="position" content="1" />
                    <meta itemprop="name" content="Домашняя страница"/>
                </li>
                <li class="breadcrumb-item active" aria-current="page" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                    <a class="inactiveLink" itemprop="item" href="#">Страница не найдена</a>
                    <meta itemprop="position" content="2" />
                    <meta itemprop="name" content="Страница не найдена"/>
                </li>
              </ol>
            </nav>
        </div>
    </section>
    <section class="wrapper bg-light">
        <div class="container pt-3 pt-md-3 pb-14 pb-md-0">
            <h1>Похоже, указанная вами страница не существует :(</h1>
            <p>Нажмите на эту <a href="/" style="text-decoration:outlined; color: rgb(50, 90, 255);">ссылку</a>, чтобы вернуться на главную страницу</p>
        </div>
    </section>
    <section class="wrapper bg-light">
        <div class="container pt-10 pt-md-14 pb-14 pb-md-0"></div>
    </section>
</div>
{% endblock %}