{% load static %}
<!DOCTYPE html>
<html lang="ru" prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# og:image:width и og:image:height">
    	 
<head>
    <meta name="yandex-verification" content="1b223cba35e9d9b3" />
    <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-WLP3WWV');</script>
<!-- End Google Tag Manager -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href= {% static "/img/favicon.ico" %}>
    {% block meta %}
    {% endblock %}
    <title>{% block page_title %}{% endblock %}</title>
    <meta name="description" content="{% block meta_description %}{% endblock %} "/>
    <meta name="facebook-domain-verification" content="62uiv028ukkeyx5897u0vwd7rfyxpx" />
    <link rel="stylesheet" href={% static "/css/plugins.css" %}>
    <link rel="stylesheet" href={% static "/css/style.css" %}>
    <link rel="stylesheet" href={% static "/css/theme/green.css" %}>
    <script src={% static "/js/calc.js" %}></script>
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap"
          rel="stylesheet">
    {% block opg %}{% endblock %}
    <script type="application/ld+json">
    {
          "@context": "https://schema.org",
          "@graph": [
              {
                  "@type": "ImageObject",
                  "@id": "{% static '/img/logo.png' %}",
                  "url": "{% static '/img/logo.png' %}",
                  "contentUrl": "{% static '/img/logo.png' %}"
              }, {
                  "@type": "ImageObject",
                  "@id": "{% static '/img/logo-light@2x.png' %}",
                  "url": "{% static '/img/logo-light@2x.png' %}",
                  "contentUrl": "{% static '/img/logo-light@2x.png' %}"
              }, {
                  "@type": "ImageObject",
                  "@id": "{% static '/img/logo-rpro-white-3.png' %}",
                  "url": "{% static '/img/logo-rpro-white-3.png' %}",
                  "contentUrl": "{% static '/img/logo-rpro-white-3.png' %}"
              }, {
                    "@type": "ImageObject",
                    "@id": "{% static '/img/logo-light.png' %}",
                    "url": "{% static '/img/logo-light.png' %}",
                    "contentUrl": "{% static '/img/logo-light.png' %}"
              }, {
                "@type": "ImageObject",
                "@id": "{% static '/img/concept/concept7.png' %}",
                "url": "{% static '/img/concept/concept7.png' %}",
                "contentUrl": "{% static '/img/concept/concept7.png' %}"
              }, {
                "@type": "ImageObject",
                "@id": "{% static '/img/concept/concept7@2x.png' %}",
                "url": "{% static '/img/concept/concept7@2x.png' %}",
                "contentUrl": "{% static '/img/concept/concept7@2x.png' %}"
              }, {
                  "@type": "Product",
                "name": "{{ product.product_title }}",
                "image": "https://rpro.by{{ product.product_image.url }}",
                "description": "{{product.product_short_desc}}",
                "url" : "https://rpro.by/product/{{product.product_slug }}",
                "offers": {
                    "@type": "Offer",
                    "price": "{{ product.product_price }}",
                    "priceCurrency": "BYN"
                 }
              }]
            
      }
    </script>
    {% block scripts %}{% endblock %}
    
    
    

    
    
    
    
</head>
<body> 
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WLP3WWV"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
    {% block header_class %}
    <header class="wrapper">
    {% endblock %}
        <nav class="navbar center-nav transparent navbar-expand-lg navbar-light">
            <div class="container flex-lg-row flex-nowrap align-items-center">
                <div class="navbar-brand me-3">
                    <a href="{% url 'home' %}">
                        <img class='logoimg' src="{% static '/img/logo.png' %}" alt=""/>
                    </a>
                </div>
                <div class="navbar-collapse offcanvas-nav">
                    <div class="offcanvas-header d-lg-none d-xl-none">
                        <a href={% url 'home' %}>
                            <img class='logoimg' src="{% static '/img/logo-rpro-white-3.png' %}" srcset="{% static '/img/logo-rpro-white-3.png' %}" />
                        </a>
                        <button type="button" class="btn-close btn-close-white offcanvas-close offcanvas-nav-close" aria-label="Close"></button>
                    </div>
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link has-submenu" id="sm-162677704259718-37" aria-haspopup="true" aria-controls="sm-162677704259718-38" aria-expanded="false">
                                Услуги<span class="sub-arrow"></span>
                            </a>
                            <ul class="dropdown-menu mega-menu sm-nowrap hide-animation" id="sm-162677704259718-38" role="group" aria-hidden="true" aria-labelledby="sm-162677704259718-37" aria-expanded="false" style="width: auto; display: none; top: auto; left: 0px; margin-left: -547px; margin-top: 0px; min-width: 10rem; max-width: 25rem;">
                                <li class="mega-menu-content">
                                    <div class="row gx-0 gx-lg-3">
                                    <div class="col-lg-6">
                                        <span class="dropdown-header" style="color: #73b442;">Физическим лицам</span>

                                        <div class="row gx-0">
                                        <div class="col-lg-6">
                                            <ul class="list-unstyled">
                                            <li><a class="dropdown-item scroll" href="{% url 'priem' %}">Прием бытовой техники</a></li>
                                            <li><a class="dropdown-item scroll" href="{% url 'vyvoz' %}">Вывоз бытовой техники</a></li>
                                            <li><a class="dropdown-item scroll" href="{% url 'category' %}">Скупка радиодеталей, плат</a></li>
                                            <li><a class="dropdown-item scroll" href="{% url 'catalizator' %}">Скупка катализаторов</a></li>
                                            </ul>
                                        </div>
                                        <!--/column -->

                                        <!--/column -->
                                        </div>
                                        <!--/.row -->
                                    </div>
                                    <!--/column -->
                                    <div class="col-lg-3">
                                        <span class="dropdown-header" style="color: #73b442;">Юридическим лицам</span>
                                        <ul class="list-unstyled">
                                        <li><a class="dropdown-item scroll" href={% url 'spisanie' %}>Экспертиза технического состояния техники</a></li>
                                        <li><a class="dropdown-item scroll" href={% url 'yuriki' %}>Переработка лома и отходов драгметаллов</a></li>
                                        <li><a class="dropdown-item scroll" href={% url 'bezvozm' %}>Безвозмездная сдача техники</a></li>
                                        </ul>
                                    </div>
                                    <!--/column -->

                                    <!--/column -->
                                    </div>
                                    <!--/.row -->
                                </li>
                            <!--/.mega-menu-content-->
                            </ul>
                        <!--/.dropdown-menu -->
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link" href="{% url 'category' %}">Прайс</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'contact' %}">Контакты</a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link" href="{% url 'news' %}">Новости {% if stock %}<span class="badge bg-red rounded-pill">Акция</span>{% endif %}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'punkty' %}">Пункты приема</a>
                        </li>

                                            
                        <li class="nav-item ">
                            <a class="nav-link" href="{% url 'opt' %}">Оптовым клиентам</a>
                        </li>    

                        <li class="nav-item ms-3">
                            <a class="nav-link" href="tel:+375293924492" style="font-weight: normal;"> 
                                <i class="uil uil-phone-volume"></i> (29) 392-44-92
                            </a>
                        </li>
                        <li class="nav-item ms-3">
                            <a class="nav-link" href="mailto:info@rpro.by" style="font-weight: normal;"> 
                                <i class="uil uil-envelope-heart"></i> info@rpro.by
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="navbar-other w-100 d-flex ms-auto">
                    <ul class="navbar-nav flex-row align-items-center ms-auto" data-sm-skip="true">
                        <li class="nav-item d-lg-none">
                            <div class="navbar-hamburger">
                                <button class="hamburger animate plain" data-toggle="offcanvas-nav"><span></span></button>
                            </div>
                        </li>
                    </ul>
                </div>
                    <!-- /.navbar-other -->
                </div>
                <!-- /.container -->
            </nav>
            <!-- /.navbar -->
        </header>
{% block content %}
{% endblock %}

<footer class="bg-dark text-inverse">
    <div class="container py-13  py-md-15">
        <div class="row gy-6 gy-lg-0">
            <div class="col-md-4 col-lg-3">
                <div class="widget">
                    <img class="mb-4" src={% static "/img/logo-rpro-white-3.png" %} alt=""/>
                                       <div itemscope itemtype="http://schema.org/Organization">
  <span itemprop="name">ООО «РесайклПро»</span>
  <div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
      <b>Юридический адрес:</b></br>
      <span itemprop="streetAddress">ул. М. Лынькова, 123.</span>
      <span itemprop="postalCode">220124</span>
      <span itemprop="addressLocality"> г.Минск</span>
  </div>
    Телефон: <a href="tel:+375293924492"><span itemprop="telephone">+375 (29) 392 44 92</span></a>,</br>
    E-mail: <a href="mailto:info@rpro.by" ><span itemprop="email">info@rpro.by</span></a>
</div>

                    <nav class="nav social social-white">

                        <a href="https://www.instagram.com/rpro_by/"><i class="uil uil-instagram"></i></a>

                    </nav>
                    <!-- /.social -->
                </div>
                <!-- /.widget -->
            </div>
            <!-- /column -->

            <!-- /column -->
            <div class="col-md-4 col-lg-4">
                <div class="widget">
                    <div class="h4like" class="widget-title text-white mb-3">Услуги</div>
                    <ul class="list-unstyled mb-0">
                        <li><a href={% url 'spisanie' %}>Списание определение тех состояния</a></li>
                        <li><a href={% url 'yuriki' %}>Утилизация оборудования</a></li>
                        <li><a href={% url 'vyvoz' %}>Бесплатный вывоз бытовой техники</a></li>
                        <li><a href={% url 'bezvozm' %}>Безвозмездная сдача техники</a></li>
                    </ul>
                </div>
                <!-- /.widget -->
            </div>
            <!-- /column -->

        </div>
        <!--/.row -->
    </div>
    <!-- /.container -->
</footer>


<div class="modal fade" id="modal-02" tabindex="-1" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-md">
        <div class="modal-content text-center">
            <div class="modal-body">
                <button class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                <div class="row">
                    <div class="col-md-10 offset-md-1">
                        <figure class="mb-6"><img src="{% static '/img/concept/concept7.png' %}"
                                                  srcset="{% static '/img/concept/concept7@2x.png' %}"
                                                  alt=""></figure>
                    </div>
                    <!-- /column -->
                </div>
                <!-- /.row -->
                
                <p class="mb-0">Спасибо что выбрали нашу компанию. Ваши детали:</p>
                <div id="productlist" class="mb-6 alert alert-secondary"></div>
                <div class="newsletter-wrapper">
                    <div class="row">
                        <div class="col-md-10 offset-md-1">
                            <form method="POST" action="/" onsubmit="dataLayer.push({'event' : 'calculator'});">
                                {% csrf_token %}
                                <input type="text" value="" name="NAME"
                                       class="required email form-control" placeholder="Имя">
                                <input required type="text" value="" name="PHONE"
                                       class="required email form-control" placeholder="Телефон">
                                <input type="text" id='productssender' hidden value="1" name="ppp"
                                       class="form-control">
                                <input class="btn btn-green rounded-pill mb-2 me-1" type="submit"
                                       value="Отправить"/>
                            </form>
                        </div>
                        <!-- /.newsletter-wrapper -->
                    </div>
                    <!-- /column -->
                </div>
                <!-- /.row -->
            </div>
            <!--/.modal-body -->
        </div>
        <!--/.modal-content -->
    </div>
    <!--/.modal-dialog -->
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
        integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
        crossorigin="anonymous"></script>
<script src={% static "/js/plugins.js" %}></script>
<script src={% static "/js/scripts.js" %}></script>

<script>
        (function(w,d,u){
                var s=d.createElement('script');s.async=true;s.src=u+'?'+(Date.now()/60000|0);
                var h=d.getElementsByTagName('script')[0];h.parentNode.insertBefore(s,h);
        })(window,document,'https://cdn-ru.bitrix24.by/b11356450/crm/site_button/loader_2_cuwcwu.js');
</script>
{% block extra_scripts %}{% endblock %}

<div class="modal fade" id="modal-01" tabindex="-1" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-md">
        <div class="modal-content text-center">
            <div class="modal-body">
                  <div class="h4like">Закажите обратный звонок</div>
                <script data-b24-form="inline/6/kxscuv" data-skip-moving="true">
                    (function (w, d, u) {
                        var s = d.createElement('script');
                        s.async = true;
                        s.src = u + '?' + (Date.now() / 180000 | 0);
                        var h = d.getElementsByTagName('script')[0];
                        h.parentNode.insertBefore(s, h);
                    })(window, document, 'https://cdn-ru.bitrix24.by/b11356450/crm/form/loader_6.js');
                </script>
            </div>
            <!--/.modal-body -->
        </div>
        <!--/.modal-content -->
    </div>
    <!--/.modal-dialog -->
</div>
<script src={% static "/js/id.js" %}></script>
</body>

</html>