{% extends 'base_for_product.html' %}
{% load static thumbnail editorjs %}


{% block page_title %}{{ product.product_title }}{% endblock %}
{% block meta_description %} {{ product.product_metadesc }}{% endblock %}


<div itemscope itemtype="http://schema.org/Product">
    <span itemprop="name">test_prod</span>
</div>

{% block opg %}
    <meta property="og:title" content="{{ product.product_title }}" />
    <meta property="og:description" content="{{ product.product_metadesc }}" />
    <meta property="og:url" content="{{ request.build_absolute_uri }}" />
    <meta property="og:image" content="{{ product.product_image.url }}" />
    <script type="module" src="https://unpkg.com/@google/model-viewer/dist/model-viewer.min.js"></script>
{% endblock %}


{% block content %}
    <section id="snippet-9" class="wrapper bg-light wrapper-border">
       <div class="container pt-16 pb-12">
    <div class="row gx-lg-8 gx-xl-12 gy-10 align-items-center">
      <div class="col-md-8 col-lg-6 col-xl-5 order-lg-2 position-relative">
        <div class="shape bg-soft-primary rounded-circle rellax w-20 h-20" data-rellax-speed="1" style="top: -2rem; right: -1.9rem;"></div>
        <figure class="rounded jquery-zoom" style="cursor: crosshair">
			<img src="{{ product.product_image.url }}" class="d-none"  />
			<img src="{% thumbnail product.product_image 500x500 %}" alt="{{ product.product_name }}" />
		</figure>
      </div>
      <!--/column -->
      <div class="col-lg-6">
        <h1 class="display-4 mb-3">{{product.product_name}}</h1>
        <p class="lead fs-lg">{{product.product_short_desc}}</p>
        <p><span class="fs-15 text-uppercase text-line text-primary text-center"><strong>Артикул:</strong></span> {{ product.product_desc }}</p>
        <p><span class="fs-15 text-uppercase text-line text-primary text-center"><strong>Цена закупки:</strong></span> {{ product.product_price }} BYN</p>
        <div class="row gx-xl-10 gy-6">
          <div class="col-md-6">
            <div class="d-flex flex-row">
             <a href="#" class="btn btn-lg btn-primary rounded-pill me-2" data-bs-toggle="modal" data-bs-target="#modal-01">Заказать звонок</a>
            </div>
          </div>
          <!--/column -->

          <!--/column -->
        </div>
        <!--/.row -->
      </div>
      <!--/column -->
    </div>
    <!--/.row -->
  </div>
  <!-- /.container -->
        <div class="container pb-15 pb-md-17">
            <div class="card">
                <div class="card-footer border-0 position-relative">
                    <a class="collapse-link collapsed stretched-link" data-bs-toggle="collapse"
                       href="#collapse-snippet-9">Подробное описание и характеристики</a>
                </div>
                <!--/.card-footer -->
                <div id="collapse-snippet-9" class="card-footer p-5 accordion-collapse collapse">
                    {{ product.body_editorjs | editorjs }}
                
                    <!--/.code-wrapper -->
                </div>
                <!--/.card-footer -->
            </div>
            <!--/.card -->
        </div>
        <!-- /.container -->
    </section>
{% endblock %}

{% block extra_scripts %}
<script type="text/javascript" src={% static "/js/jquery.zoom.min.js" %}></script>
<script>
$(document).ready(function(){
  $('.jquery-zoom').zoom();
});
</script>
{% endblock %}